.Section1{
  background-color: #303030;
  display: flex;
 

}
.logo{
  padding-top: 3%;
  padding-left: 3%;
  height: 100px;
  width: auto;
}
.half-cercle {
  position: relative;

  top: 0px;
  left: 25%;
  width: 400px;
  height: 100px; /* as the half of the width */
  background-color: #202020;
  border-top-left-radius: 160px;  /* 100px of height + 10px of border */
  border-top-right-radius: 160px; /* 100px of height + 10px of border */
  /*border: 10px solid gray;*/
  border-bottom: 0;
  rotate: 180deg;
  
}